<div class="author">
    <h1 class="author__heading">Hi, I am Emediong</h1>
    <p class="author__body">Web Developer and Content Creator</p>
</div>

<img src="/img/hero-image.webp" alt="hero image" class="hero-image">

<section class="articles">
    <h2 class="article__heading">Latest posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title  %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>